
### Django ###
*.log
*.pot
*.pyc
webapp/personal/personal/__pycache__/
local_settings.py

.env

webapp/personal/project_reports
webapp/personal/articles

.DS_Store

media/
*.pyc
*.db
*.pid
# django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py
